<div class="container">
  <div class="py-2">
    <h4 class="text-muted">
      Hello, <%= @admin.first_name %>
    </h4>
    <hr/>
  </div>
  <div class="row">
    <div class="data-show">
      <h4>Posts</h4>
      <h1>
        <%= @posts.count %>
      </h1>
    </div>
    <div class="data-show">
      <h4>Members</h4>
      <h1>
        <%= @users.count %>
      </h1>
    </div>
    <div class="data-show">
      <h4>Videos</h4>
      <h1>
        <%= @videos.count %>
      </h1>
    </div>
    <div class="data-show">
    </div>
    <div class="data-show">
    </div>
  </div>
</div>
