<div class="py-5 mx-2">
  <h4 class="text-center">
    <!-- user names here -->
  </h4>
<ul class="nav flex-column">
  <div class="py-4 text-center">
  </div>
  <div style="padding-left: 50px;">
    <li class="nav-item">
      <%= link_to "Files", users_dashboard_files_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "Videos", users_dashboard_videos_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "Gallery", users_dashboard_gallery_path, class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "Settings", users_dashboard_settings_path, class: "nav-link"%>
    </li>
  </div>
</ul>
</div>
