<div class="container">
  <% if @about.nil? %>
    <p>
      Sorry, nothing here yet
    </p>
  <% else %>
    <h1 class="font-weight-bold text-center py-4">
      <%= @about.content_type%>
    </h1>
    <div class="mx-2">
      <p>
        <%= @about.content %>
      </p>
    </div>
  <% end %>
</div>
