<div class="container">
  <% if @club.about.nil? %>
    <div class="py-5">
      <h1 class="font-weight-bold py-4">
        About 
      </h1>
      <p>
        Sorry, nothing here yet
      </p>
    </div>
  <% else %>
    <div class="py-5">
      <h1 class="font-weight-bold py-4">
        About 
      </h1>
      <div class="py-4 about_section">
        <%= @club.about.html_safe %>
      </div>
    </div>
  <% end %>
</div>
