<div class="container">

  <div class="grounded py-5 text-center">
    <h2>
      Why do tai chi
    </h2>
    <p class="py-4">
      lorem ipsum lol
    </p>
    <p class="">
    <%= link_to "Read more", about_path, class: "btn btn-primary"%>
    </p>
  </div>
  <div class="grounded py-5 text-center">
    <h2>
      Stay grounded
    </h2>
    <p>
      quote reel here
    </p>
  </div>

  <div class="text-center" id="contact">
    <div class="py-5">
      <%=image_tag("yin.png",style: "height: 50px;" ,class: "img-fluid")%>
      <h4 class="mx-4 pt-5">
       Martial Arts Room
      </h4>
      <p class="pb-2">
        UCT Sports Center
      </p>
      <div class="row">
        <div class="col col-block">
          <h6>
            beginner class
          </h6>
          <p>
          Tuesdays &amp; Thursdays<br/>
            17h00 to 18h30
          </p>
        </div>
        <div class="col col-block">
          <h6>
            senior class
          </h6>
          <p>
          Tuesdays &amp; Thursdays<br/>
            18h30 to 20h00
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="py-5 text-center">
    <h2>
      Club Events
    </h2>
    <!-- events here -->
    <p class="py-4">
      <%= link_to "view our calendar", root_path, class: "btn btn-dark" %>
    </p>
  </div>
</div>
