/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "simple_discussion";
@import "site";
@import "post";
@import "dashboard";
@import "users_dashboard";
@import "simple_calendar";
@import "mixins";
@import "actiontext";
//@import "flash";

body
{
    overflow-x: hidden;
}

h1
{
    @include landing_h1(#000);
}
.navbar .nav-item
{
    padding: 1rem 1.2rem !important;
}

.navbar-light .navbar-nav .nav-link
{
    color: #000 !important;
}

.navbar-dark .navbar-nav .nav-link
{
    color: #fff !important;
}

.btn-huge
{
    padding: 28px 28px;
}
.navbar-light .navbar-brand
{
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 1px;
    color: #111;
}
.navbar-light .navbar-nav  > .nav-link:hover
{
    color: $primary;
}

.navbar-light .navbar-nav  > .nav-link
{
    color: #111;
}
.navbar-light .navbar-nav .active > .nav-link
{
    color: #111;
    border: 1px solid #111;
    border-radius: 5px;
    padding: 8px 18px;
}

.navbar-light .navbar-nav .active > .nav-link:hover
{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.h-01
{
    @media(max-width: 768px)
    {
        min-height: 100vh;
        line-height: 1.5;

        h1
        {
            font-weight: 600;
            font-size: 2.3rem;
            line-height: 1.12;
        }

        p
        {
            font-weight: 400; 
        }
    }
    @media(min-width: 992px)
    {
        margin: 0 10%;
        min-height: 100vh;

        h1
        {
            font-size: 4.6em; 
            font-weight: 800;
            line-height: 1.48;
        }

        p
        {
            line-height: 1.6;
            font-size: 1.8em;
            width: 75%;
        }
    }
}
footer
{
    min-height: 60vh;
    .wave-container
    {
        background: $primary;
        overflow: hidden;
        position: relative;
        color: #fff;
        text-align: center;

        a
        {
            color: #fff; 
        }
    }

    .footer-div
    {
        text-align: center !important;
    }
}
