// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.main-wrapper
{
    min-height: 100vh;
}
.sidebar
{
    @media(min-width: 768px)
    {
        background-color: $dark;
        min-height: 100vh;
        max-width: 100%;
        padding: 10px 30px;
        position: fixed;
    }
    @media(max-width: 768px)
    {
        display: none;
    }
}
