@import "mixins";
@import "variables";

article
{
    margin: 0 15%;
    justify-content: center;
    text-justify: center;

    h1
    {
        text-align: center; 
    }

}
.post-header
{
    h1
    {
        @include landing_h2(#000);
    }
}

.par-text
{
    @media(min-width: 768px)
    {
        p
        {
            text-align: left;
            position: relative;
            padding-bottom:  100px;
            font-size: 21px;
            line-height: 1.58;
        }
    }
    @media(max-width: 768px)
    {
        p
        {
            text-align: justify;
            position: relative;
            padding:  10px 10px;
            font-size: 21px;
            line-height: 1.58;
        }
    
    }
}

.card-canvas
{
    @include landing_div(#fff);
}
