// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.chat-wrapper
{
    background-color: $secondary;
}
.about_section
{

    p
    {
        font-size: 32px !important; 
        font-weiht: 400 !important;
        line-height: 26px !important;
        margin-top: 2em;
    }
}
.reviews
{
    @include landing_div(#fff);

    h2
    {
        @include landing_h2(#000);
    }
    .students
    {
        @include landing_div(#eee);

        .carousel
        {
            padding-top: 100px; 

            .card
            {
                padding: 50px 30px; 
            }

            .carousel-controls
            {
                padding-top: 300px; 

                .carousel-control-prev-icon
                {
                    margin-top: 200px;
                    padding: 20px 20px;
                    background-color: $primary;
                }
                span
                {
                    border: 1px solid $primary;
                }
            }
        }
    }
}

.grounded
{
    background-color: $light;
    min-height: calc(150px + 85vh);
    h2
    {
        @include landing_h2(#000);
        padding-top: 50px;
    }
    p
    {
        @media(max-width: 768px)
        {
            line-height: 1.5;
            font-weight: 400; 
            font-size: 1.2em;
        }
        @media(min-width: 992px)
        {
            @include landing_p(#000); 
        }
    }
}
.members
{
    background-color: #fff;
    h2
    {
        @include landing_h2(#000);
    }
    .costs 
    {
        @media(max-width: 768px)
        {
            padding: 100px 0px; 
        }
        @media(min-width: 768px)
        {
            @include landing_div(#fff);
        }

        h3
        {
            @include landing_h3(#000);
        }

    }
    .wear
    {
        @include landing_div(#fff);
    p
    {
        @include landing_p(#000); 
    }
    }
}
.venue
{
    position: relative;
    overflow: hidden;
    background: $secondary;
    padding-bottom: 50px;
    h2
    {
        @include landing_h2(#000);
        padding-top: 30px;
    }
    h3
    {
        @include landing_h3(#000);
    }
    p
    {
        @include landing_p(#000);
        padding-top: 20px;
    }
}

.coach
{
    @include landing_div(#fff);
    h2
    {
        @include landing_h2(#000);
        padding-top: 30px;
    }
    p
    {
        @include landing_p(#000); 
    }
}
.socials
{
    background-color: $secondary;
    min-height: calc(260px + 85vh);
    p
    {
        @include landing_p(#000); 
    }
}
.contact
{
    h2
    {
        @include landing_h2(#000);
        padding-top: 80px;
    }
    @include landing_p(#000);
}
.reel
{

    background-image:url("graphic-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.beach
{
    min-height: 40vh;
}

.stance
{
    
    background-image:url("taichi-stance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
}
