// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.reviews
{
    @include landing_div(#fff);
    h2
    {
        @include landing_h2(#000);
    }
}

.grounded
{
    @include landing_div(#f2f2f2);
    h2
    {
        @include landing_h2(#000);
        padding-top: 130px;
    }
    p
    {
        @include landing_p(#000); 
    }
}
.members
{
    background-color: #fff;
    //background-image: url("tiny_graphic_background.png");
    //background-repeat: no-repeat;
    //background-position: center center;
    h2
    {
        @include landing_h2(#000);
    }
    .costs 
    {
        padding-top: 80px;

        h3
        {
            @include landing_h3(#000);
        }

    }
}
.venue
{
    @include landing_div(#f2f2f2);
    h2
    {
        @include landing_h2(#000);
        padding-top: 30px;
    }
    h3
    {
        @include landing_h3(#000);
    }
    p
    {
        @include landing_p(#000);
        padding-top: 20px;
    }
}

.coach
{
    @include landing_div(#fff);
    h2
    {
        @include landing_h2(#000);
        padding-top: 30px;
    }
    p
    {
        @include landing_p(#000); 
    }
}
.socials
{
    @include landing_div(#f2f2f2);
    h2
    {
        @include landing_h2(#000);
        padding-top: 30px;
    }
    p
    {
        @include landing_p(#000); 
    }
}
.contact
{
    @include landing_div(#fff);
    h2
    {
        @include landing_h2(#000);
        padding-top: 80px;
    }
    @include landing_p(#000);
}
.reel
{

    background-image:url("graphic-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.beach
{
    min-height: 40vh;
}

.stance
{
    
    background-image:url("taichi-stance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
}
