// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary: #7BC8B5;
$secondary: #609e8e;
$light: #add6cc;
$dark: #2e4c45;

.reel
{

    background-image:url("graphic-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.beach
{
    min-height: 40vh;
}

.stance
{
    
    background-image:url("taichi-stance.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
}
