<div class="container pt-4">
  <div class="d-flex ml-4" style="max-width: 100%;">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
              <li>
                  <%= value %>
              </li>
          </ul>
      </div>
  <% end %>
  </div>
</div>
